.MiddleOfPage.ourteam {
     margin-top: 50px;
}

.OuterLowerContainer {
    display: flex;
    position: relative;
    width: 80%;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTopOT {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    /* height: 120px; */
    display: flex;
    position: relative;

    font-size: 2.4rem;
    color: rgb(150, 150, 235);
    /* justify-content: center;
    place-items: center; */
    text-align: center;

    display: flex;
    flex-wrap: wrap;

    p {
        width: 100%;
        /* b {
            font-size: 2rem;
        } */
    }
}

.CenterMiddleOT {
    width: 100%;
    height: 160px;
    display: flex;
    position: relative;
}

.RightSideOT, .LeftSideOT {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottomOT {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    text-align: center;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTopOT {
        font-size: 1.4rem;
        p {
            b {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 376px) {

    .OuterLowerContainer {
        width: 90%;
        top: 60px;
        margin-top: 10px;
    }

    .CenterTopOT {
        font-size: 1.8rem;
        height: 84px;
        margin-top: 5px;
        margin-bottom: 0;

        p > b {
            font-size: 0.9rem;
        }
    }

    .CenterMiddleOT {
        height: 100px;
        flex-flow: column;
    }

    .LeftSideOT {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .RightSideOT {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .CenterBottomOT {
        top: 0px;
        font-size: 0.8rem;
    }

    .DemoLabelBottom {
        top: 390px;
        font-size: 0.7rem;
    }

    .LabelsBottomRightBox {
        top: 465px;
    }
}