.OuterLowerContainer {
    display: flex;
    position: relative;
    width: 80%;
    top: 158px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTopOT {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 160px;
    display: flex;
    position: relative;

    font-size: 2.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;

    /* p {
        b {
            font-size: 2rem;
        }
    } */
}

.CenterLeftRight {
    width: 100%;
    height: 160px;
    display: flex;
    position: relative;
}

.RightSide, .LeftSide {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottom {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTop {
        /* font-size: 1rem; */
        p {
            b {
                font-size: 1.4rem;
                /* font-style: italic; */
            }
        }
    }
}