body {
    height: 77%;
}

.MiddleOfPage.OurTeamPage {
     margin-top: 50px;
}

/* .raindrop {
    position: absolute;
    top: -10px;
    width: 2px;
    height: 10px;
    background-color: rgb(150, 150, 235);
    overflow: hidden;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(100vh);
        overflow: hidden;

    }
}

.raindrop:nth-child(odd) {
    animation-duration: 1.8s;
    left: 10%;
    animation-delay: 0s;
}

.raindrop:nth-child(even) {
    animation-duration: 3s;
    left: 30%;
    animation-delay: 0.2s;
}

.raindrop:nth-child(3) {
    animation-duration: 1s;
    left: 50%;
    animation-delay: 0.4s;
}

.raindrop:nth-child(4) {
    animation-duration: 2s;
    left: 70%;
    animation-delay: 0.6s;
}

.raindrop:nth-child(5) {
    animation-duration: 0.9s;
    left: 90%;
    animation-delay: 0.8s;
} */


.OuterLowerContainerOT {
    display: flex;
    position: relative;
    width: 80%;
    top: 160px;
    height: 420px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTopOT {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    /* max-height: 150px; */
    /* height: 120px; */
    display: flex;
    position: relative;

    font-size: 2.4rem;
    color: rgb(150, 150, 235);
    /* justify-content: center;
    place-items: center; */
    text-align: center;

    display: flex;
    flex-wrap: wrap;

    p {
        width: 100%;
        /* b {
            font-size: 2rem;
        } */
    }
}

.CenterMiddleOT {
    width: 100%;
    height: 130px;
    display: flex;
    position: relative;
}

.RightSideOT, .LeftSideOT {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottomOT {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 4rem;
    font-weight: 700;
    font-family: "Montez", cursive;
    /* color: rgb(150, 150, 235); */
    color: rgb(150, 150, 235, 0.8);
    justify-content: center;
    align-items: self-end;
    text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
    /* text-shadow: 0 0 50px rgb(150, 150, 235), -10px 0 10px rgb(0, 0, 0), 15px 0 10px rgb(0, 0, 0); */
    /* text-shadow: 0 0 50px rgb(150, 150, 235) */
    /* text-align: center; */
    /* align-items: center; */

    /* box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.6) , inset -60px -10px 0 rgba(94, 94, 165, 0.6);
    border-radius: 50%; */
    /* filter: blur(3px); */

    /* animation-name: WhoKnowsWhatItWillBe;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}

.CenterBottomOT::after {
    content: '';
    border-radius: 50%;
    /* height: 30px; */ 
    width: 80%;
    height: 80px;
    position: absolute;
    box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.3) , inset -60px -10px 0 rgba(94, 94, 165, 0.3);
    border-radius: 50%;
    top: -3%;
    z-index: -1;
}


/* @keyframes WhoKnowsWhatItWillBe {
    0% {    
        box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.6);
    }
    50% {
        box-shadow: inset 50px -10px 0 rgba(150, 150, 235, 0.6);
    }
    100% {
        box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.6);
    }
    
} */


.DemoLabelBottom {
    top: 750px;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTopOT {
        font-size: 1.4rem;
        p {
            b {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 376px) {

    .OuterLowerContainerOT {
        width: 90%;
        top: 60px;
        margin-top: 10px;
    }

    .CenterTopOT {
        font-size: 1.2rem;
        max-height: 150px;
        height: 140px;
        margin-top: 5px;
        margin-bottom: 0;

        p > b {
            font-size: 1.4rem;
        }
        p:nth-child(2) {
            font-size: 0.9rem;
        }
    }

    .CenterMiddleOT {
        height: 80px;
        flex-flow: column;
    }

    .LeftSideOT {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .RightSideOT {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .CenterBottomOT {
        top: 0px;
        margin-top: 5px;
        font-size: 1.8rem;
        height: 32px;
        text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
        /* box-shadow: inset -20px -3px 0 rgba(150, 150, 235, 0.6); */
    }

    .CenterBottomOT::after {
    content: '';
    border-radius: 50%;
    height: 25px;
    width: 100%;
    position: absolute;
    box-shadow: inset -15px -3px 0 rgba(150, 150, 235, 0.3) , inset -25px -5px 0 rgba(94, 94, 165, 0.3);
    border-radius: 50%;
    top: -10%;
    z-index: -1;
}

    .DemoLabelBottom {
        top: 408px;
        font-size: 0.75rem;
    }

    .LabelsBottomRightBox { 
        top: 470px;
    }
    
}