.MiddleOfPage.aboutus {
    margin-top: 50px;
}

.OuterLowerContainer {
    display: flex;
    position: relative;
    width: 60%;
    height: 420px;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTop {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;

    font-size: 1.4rem;  
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;
    text-align: justify;
    text-indent: 30px;

    p > b {
            font-size: 1.8rem;
            /* color: rgb(164, 164, 236); */
        }
}

.CenterMiddle {
    width: 90%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.RightSide, .LeftSide {
    display: flex;
    color: rgb(150, 150, 235);
    
}

.LeftSide {
    margin-right: 15px;
    width: 63%;
    font-size: 1.4rem;
    place-content: space-evenly;
}

.RightSide {
    /* margin-right: 10px; */
    margin-left: 20px;
    width: 30%; 
    font-size: 1.4rem;
    text-align: justify;
}

.LeftSideLeft, .LeftSideCenter, .LeftSideRight {
    margin: 0;
    padding-left: 20px;
}

.CenterBottom {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 70px;
    top: 45px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    /* color: rgb(150, 150, 235); */
    color: rgb(180, 150, 235);
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
    /* text-shadow: 0 0 10px rgb(150, 150, 235); */

    overflow: hidden;

    span {
        animation-name: BlinkAllLetters;
        animation-duration: 5s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    .bright {
        animation-name: BlinkOneLetter;
        animation-duration: 0.1s;
        animation-direction: alternate-reverse;
        /* animation-iteration-count: infinite; */
    }

}

@keyframes BlinkAllLetters {
    0% {
        /* color: rgb(150, 150, 235); */
        color: rgb(180, 150, 235);
        /* transform: translateY(0); */

        /* font-size: 1.4rem; */
    }
    50% {
        /* color: rgb(226, 226, 255); */
        /* color: rgb(226, 226, 255); */
        /* letter-spacing:  1.2px; */
        color: rgb(15, 16, 27);
        /* transform: translateY(-6px); */
        /* font-size: 1.41rem; */
        filter: blur(5px);
        
    }
    100% {
        /* color: rgb(150, 150, 235); */
        color: rgb(180, 150, 235);
    }
    
}

@keyframes BlinkOneLetter {
    0% {
        color: rgb(158, 158, 233);
        font-size: 1.4rem;
    }
    100% {
        color: rgb(255, 255, 255);
        font-size: 2rem;
        text-shadow: 5px 5px 5px rgb(255, 255, 255);
    }
    
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTop {
        font-size: 1.4rem;
        p {
            b {
                font-size: 1.8rem;
                /* font-style: italic; */
            }
        }
    }
}




@media screen and (max-width: 376px) {

    .OuterLowerContainer {
        width: 90%;
        height: 275px;
        top: 60px;
        margin-top: 20px;
    }

    .CenterTop {
        font-size: 0.9rem;
        height: 84px;
        margin-top: 17px;
        margin-bottom: 0;

        p > b {
            font-size: 1.1rem;
        }
    }

    .CenterMiddle {
        height: 100px;
        margin-top: 20px;
        flex-flow: column;
        place-self: center;
    }

    .LeftSide {
        font-size: 0.9rem;
        width: 100%;
        margin: 0;
        place-content: center;
    }

    .RightSide {
        font-size: 0.9rem;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        place-content: center;
        text-align: center;
    }

    .LeftSideLeft, .LeftSideCenter, .LeftSideRight {
        margin: 0;
        padding-left: 25px;
        text-align: left;
    }

    .CenterBottom {
        top: 0px;
        margin-top: 23px;
        font-size: 0.9rem;
        text-align: center;
        display: inline-block;
        word-break: break-all;

        /* justify-content: left; */
        /* overflow: visible; */

        /* span {  
            animation-name: BlinkAllLetters;
            animation-duration: 9s;
        } */

        .bright {

            /* display: inline-block; */
            color: rgb(255, 255, 255);
            /* transform: scaleX(5); */

            /* animation-name: BlinkOneLetter; */
            animation-name: none;
            /* font-weight: 700; */
            /* animation-duration: 0.05s; */
            /* animation-direction: alternate-reverse; */
            /* animation-iteration-count: infinite; */
        }
    }

    @keyframes BlinkAllLetters {
        /* 0% {
            color: rgb(150, 150, 235);
        } */
        50% {

            color: rgb(15, 16, 27);
            filter: blur(1px);
            
        }
        /* 100% {
            color: rgb(150, 150, 235);
        } */
    
    }

    /* @keyframes BlinkOneLetter {
        0% {
            color: rgb(158, 158, 233);
            transform: skewX(1);
            transform: scaleX(1);
            font-size: 0.9rem;
        }
        100% {
            color: rgb(255, 255, 255);
            font-weight: bold;
            transform: skewX(90deg);
            transform: scaleX(2);
            font-size: 1.2rem;
            text-shadow: 0 0 5px rgb(255, 255, 255);
        }
    } */

    .DemoLabelBottom {
        top: 408px;
        font-size: 0.75rem;
    }

    .LabelsBottomRightBox {
        top: 470px;
    }
}