.OuterLowerContainerCO {
    display: flex;
    position: relative;
    width: 80%;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTopCO {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* flex-flow: column; */

    font-size: 2rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;
    /* text-align: center; */

    .ListLine {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 60%;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 28px;
        .MyLabel {
            width: 50%;
            text-align: right;
        }
        .MyData {
            width: 50%;
            text-align: left;
            margin-left: 5%;
            margin-right: 5%;
            .CopyBtn, .ShowTelBtn {
                /* margin-left: 30px; */
                margin-right: 10px; 
                margin-top: 0;
                padding-top: 0;

                border-radius: 1.2rem;
                border: 2px solid rgb(150, 150, 235);
                vertical-align: middle;
                width: 100px;
                height: 30px;
                font-size: 1.2rem;
                font-weight: 200;

                color: rgb(150, 150, 235);
                background-color: rgb(15, 16, 27);
                box-shadow:  0 0 20px inset rgba(150, 150, 235, 0.6);

                cursor: pointer;

                &:hover {
                    background-color: rgb(58, 62, 110);
                }
                &:active {
                    background-color: rgb(78, 57, 196)
                }

            }
        }
    }

    /* p {
        width: 50%;
        b {
            font-size: 2rem;
        }
    } */
}

.CopyBtn {
    /* width: 100px; */
    margin-left: 30px;
}
 
.ShowTelBtn {
    /* width: 160px; */
    margin-left: 0;
    /* &:active {
        width: 160px !important;
    } */
    &:not(:focus) {
        width: 100px;
    }
}

.CenterMiddleCO {
    width: 100%;
    height: 160px;
    display: flex;
    position: relative;
}

.RightSideCO, .LeftSideCO {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottomCO {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    text-align: center;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTopCO {
        font-size: 1.4rem;
        p {
            margin-top: 3px;
            margin-bottom: 3px;
            b {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 376px) {

    .OuterLowerContainerCO {
        width: 90%;
        top: 60px;
        margin-top: 10px;
    }

    .CenterTopCO {
        font-size: 1.4rem;
        height: 84px;
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;

        p > b {
            font-size: 0.9rem;
        }
    }

    .CenterMiddle {
        height: 100px;
        flex-flow: column;
    }

    .LeftSideCO {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .RightSideCO {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .CenterBottomCO {
        top: 0px;
        font-size: 0.8rem;
    }

    .DemoLabelBottom {
        top: 390px;
        font-size: 0.7rem;
    }

    .LabelsBottomRightBox {
        top: 465px;
    }
}