/* html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 91vh;
    min-height: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(15, 16, 27);
} */

::placeholder {
    color: rgba(150, 150, 235, 0.6);
}


.LabelCenterTop {
    position: absolute;
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 7vh;
    text-align: center;

    border: 1px solid rgba(150, 150, 235, 0);

    color: rgb(150, 150, 235);
    font-family: "Montez", cursive;
    text-shadow: 4px 4px 4px #000000;
    font-size: 6rem;
    overflow: hidden;
}

.LabelCenterTop:before {
    content: '';
    position: absolute;
    left: -40%;
    width: 40%;
    height: 100%;
    background: linear-gradient(
        135deg,
        transparent,
        rgba(150, 150, 235, 0.4),
        transparent
    );
    transition: all 0.5s;
}

.LabelCenterTop:hover, .hover-simulated {

    animation: RemoveBorder 2s ease-in-out;

    &:before {
        left: 100%;
    }

}

.LabelCenterTop.active {
    color: rgba(150, 150, 235, 0.4);
}

@keyframes RemoveBorder {
    0% {
        border: 1px solid rgba(150, 150, 235, 0.1);
    }
    50% {
        border: 1px solid rgba(150, 150, 235, 0.3);
    }
    100% {
        border: 1px solid rgba(150, 150, 235, 0);
    }
}

.StarPoints {
    position: relative;
    border-radius: 50%;
}


.StarPoints:nth-child(7n) {
    animation-name: InOut;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.StarPoints:nth-child(3n) {
    animation-name: InOut;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

.StarPoints:nth-child(11n) {
    animation-name: Left-Right;
    animation-duration: 33s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.StarPoints:nth-child(17n) {
    animation-name: Left-Right;
    animation-duration: 17s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes InOut {
    from {
        height: 0.3px;
        width: 0.3px;
        border-radius: 0;

        margin-left: 3px;
        margin-top: 3px;
    }
    to {
        height: 5px;
        width: 5px;
        border-radius: 50%;

        margin-left: 1px;
        margin-top: 1px;
    }

}

@keyframes Left-Right {
    0% {
        margin-left: 3px;
        margin-top: 3px;
        height: 0.3px;
        width: 0.3px;
    }
    25% {
        margin-left: 100px;
        margin-top: -50px;
        height: 5px;
        width: 5px;     
    }
    50% {
        margin-left: 100px;
        margin-top: 50px;
        height: 0.1px;
        width: 0.1px;
    }
    75% {
        margin-left: -30px;
        margin-top: 50px;
        height: 5px;
        width: 5px;    
    }
    100% {
        margin-left: 50px;
        margin-top: -30px;
        height: 0.3px;
        width: 0.3px;     
    }
}

.LoginOuterBox {
    display: flex;
    position: relative;
    flex-flow: column;
    height: 45%;
    max-height: 45%;
    width: 50%;
    max-width: 40%;
    background-color: rgb(24, 26, 44);
    border-radius: 3rem;
    border: 2px solid rgb(150, 150, 235);
    border: none;
    box-shadow: inset 0 0 50px rgb(79, 86, 146);

    margin-left: auto;
    margin-right: auto;
    top: 25%;

    clip-path: ellipse(80% 50%);
    
    overflow: hidden;

    /* &::before {
        content: '';
        position: absolute;
        inset: 6px;
        background: rgb(150, 150, 235);
        clip-path: ellipse(80% 50%);
        z-index: -1;
    } */

}

.InputFieldsBox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 60%;
    max-height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.LoginInput {
    display: flex;
    position: relative;
    height: 30%;
    max-height: 30%;
    width: 60%;
    max-width: 60%;
    /* background-color: rgb(67, 67, 100); */
    /* background-color: rgb(24, 26, 44); */
    background-color: rgb(21, 22, 39);
    /* background-color: rgb(57, 61, 102); */
    color: rgb(150, 150, 235);
    border: 2px solid rgb(150, 150, 235, 0.4);
    border-radius: 2.8rem;
    /* border: none; */
    outline: none;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;

    font-size: 2rem;
    text-align: center;

    box-shadow: 10px 10px 10px rgb(15, 16, 27);
    overflow: hidden;
    z-index: 2;

    &:hover {
        /* box-shadow: 0 0 70px rgb(150, 150, 235); */
        box-shadow: 0 0px 40px 10px rgb(150, 150, 235);
    }

    &:focus {
        box-shadow: 0 0px 40px 10px rgb(150, 150, 235);
    }
}

.PasswInput {
    display: flex;
    position: relative;

    width: 70%;
    max-width: 60%;

    height: 33%;
    max-height: 30%;

    margin-top: 3%;

    margin-left: auto;
    margin-right: auto;

    font-size: 2rem;
    text-align: center;

    /* background-color: rgb(67, 67, 100); */
    background-color: rgb(21, 22, 39);
    /* background-color: rgb(57, 61, 102); */
    color: rgb(150, 150, 235);
    box-shadow: 10px 10px 10px rgb(15, 16, 27);
    border: 2px solid rgb(150, 150, 235, 0.4);
    border-radius: 2.8rem;
    /* border: none; */
    outline: none;

    overflow: hidden;
    z-index: 2;

    &:hover {
        /* box-shadow: 0 0 70px rgb(150, 150, 235); */
        box-shadow: 0 0px 40px 10px rgb(150, 150, 235);
    }

    &:focus {
        box-shadow: 0 0px 40px 10px rgb(150, 150, 235);
    }
}


.LoginButtonsBox {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

    width: 50%;
    height: 40%;

}

.SubmitButton {

    justify-self: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 150px;
    height: 30%;

    place-self: center;
    align-items: center;

    font-size: 1.5rem;

    color: rgb(122, 122, 190);
    /* background-color: rgb(59, 59, 102); */
    /* background-color: rgb(24, 26, 44); */
    /* background-color: rgb(24, 26, 44); */
    background-color: rgb(32, 34, 58);
    
    /* box-shadow: 10px 10px 10px rgb(15, 16, 27), 0 0 20px inset rgba(150, 150, 235, 0.6); */
    box-shadow: 10px 10px 10px rgb(15, 16, 27);

    border-radius: 1.8rem;
    border: 2px solid rgb(150, 150, 235, 0.4);
    /* border: none; */

    cursor: pointer;
    z-index: 3;

}   

.SubmitButton:hover {
    /* background-color: rgb(78, 57, 196); */
    background-color: rgb(58, 62, 110);

    text-shadow: 5px 5px 10px rgb(15, 16, 27);
    transition: ease-in 0.3s;
}

.SubmitButton:active {
    background-color: rgb(78, 57, 196);
    /* background-color: rgb(65, 41, 59); */
    transition: 0s;
}

.RegistrateLink {
    width: 20%;
    min-width: 150px;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

    place-self: center;

    border-radius: 1.8rem;
    border: 2px solid rgba(255, 255, 255, 0);

    font-size: 1.5rem;
    font-style: italic;
    color: rgb(122, 122, 190);
    text-align: center;
    text-shadow: 10px 10px 10px black;
    text-decoration: none;

    flex-wrap: wrap;
    z-index: 3;
}

.RegistrateLink:hover {
    /* background-color: rgb(78, 57, 196); */
    /* box-shadow: 10px 10px 10px rgb(15, 16, 27), 0 0 20px inset rgba(150, 150, 235, 0.6); */
    box-shadow: 10px 10px 10px rgb(15, 16, 27);
    /* background-color: rgb(58, 62, 110); */
    background-color: rgb(32, 34, 58);
    text-shadow: 5px 5px 10px rgb(15, 16, 27);
    border: 2px solid rgb(150, 150, 235, 0.4);
    transition: ease-in 0.3s;
}

.RegistrateLink:active {
    background-color: rgb(78, 57, 196);
    transition: 0s;
}

.MiddleOfPage {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 82px;
}

/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */

@media screen and (max-width: 1900px) {
    .LoginButtonsBox {
        width: 60%;
    }
}


@media screen and (max-width: 1600px) {
    .LabelCenterTop {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .LoginButtonsBox {
        width: 65%;
    }

    .LoginInput, .PasswInput  {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1400px) {

    .SubmitButton {
        width: 15%;
    }

    .LoginButtonsBox {
        width: 70%;
    }

}

@media screen and (max-width: 1200px) {

    .LabelCenterTop {
        font-size: 5rem;
    }

    .LoginInput, .PasswInput {
        font-size: 1.4rem;
    }

    .LoginButtonsBox {
        width: 75%;
        margin-top: 0;
    }
}

@media screen and (max-width: 1100px) {

    .LoginButtonsBox {
        width: 80%;
        margin-top: 0;
        margin-bottom: 5%;
    }

    .LoginInput, .PasswInput {
        width: 70%;
        max-width: 70%;
    }

    .SubmitButton, .RegistrateLink {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 1000px) {

    .LabelCenterTop {
        font-size: 4rem;
    }

    .LoginInput {
        font-size: 1.4rem;
        border-radius: 1.5rem;
    }

    .PasswInput {
        font-size: 1.4rem;
        border-radius: 1.5rem;
    }

    .LoginOuterBox {
        max-width: 80%;
    }

    .LoginButtonsBox {
        margin-top: 7%;
        height: 20%;
    }

    .SubmitButton, .RegistrateLink {
        height: 60%;
    }

}

@media screen and (max-width: 800px) {

    .LoginOuterBox {
        max-width: 60%;
        width: 60%;
    }

    .SubmitButton, .RegistrateLink {
        min-width: 160px;
    }

}

@media screen and (max-width: 770px) {

    .LabelCenterTop {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .LoginOuterBox {
        max-width: 70%;
        width: 70%;
    }

    .LoginInput, .PasswInput {
        font-size: 1.3rem;
        height: 27%;
        width: 70%;
        max-width: 70%;
    }
    
    .SubmitButton {
        font-size: 1.3rem;
        height: 60%;
    }

    .RegistrateLink {
        font-size: 1.3rem;
        height: 60%;
    }
}

@media screen and (max-width: 660px) {


    /* .LoginContainer {
        margin-top: 78px;
    } */
    .MiddleOfPage {
        margin-top: 78px;
    }

    .LabelCenterTop {
        font-size: 3.8rem;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .LoginOuterBox {
        display: flex;
        position: relative;
        flex-flow: column;
        height: 55%;
        max-height: 55%;
        width: 90%;
        max-width: 90%;
        top: 20%;

    }

    .LoginInput, .PasswInput {
        font-size: 1.3rem;
        max-width: 100%;
        height: 23%;
    }

    .LoginInput {
        margin-top: 14%;
    }

    .PasswInput {
        margin-top: 0;
    }

    .LoginButtonsBox {
        width: 60%;
        margin-top: 4%;
    }

    .SubmitButton, .RegistrateLink {
        max-width: 130px;
        margin-top: 0;
        min-width: 60%;
    }

    .RegistrateLink {
        margin-top: 15px;
    }

}

@media screen and (max-width: 500px) {
    /* .LoginContainer {
        margin-top: 88px;
        height: 90%;
    } */
    .MiddleOfPage {
        margin-top: 88px;
        height: 90%;
    }

    .LabelCenterTop {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 3.6rem;
        margin-top: 28px;

    }

    .LoginOuterBox {
        max-height: 37%;
        top:15%;
        clip-path: ellipse(70% 50%);
    }

    @keyframes InOut {
        from {
            height: 0.1px;
            width: 0.1px;
            border-radius: 0;

            margin-left: 3px;
            margin-top: 3px;
        }
        to {
            height: 3px;
            width: 3px;
            border-radius: 50%;

            margin-left: 1px;
            margin-top: 1px;
        }

    }

    @keyframes Left-Right {
        0% {
            margin-left: 3px;
            margin-top: 3px;
            height: 0.1px;
            width: 0.1px;
        }
        25% {
            margin-left: 100px;
            margin-top: -50px;
            height: 3x;
            width: 3px;     
        }
        50% {
            margin-left: 100px;
            margin-top: 50px;
            height: 0.1px;
            width: 0.1px;
        }
        75% {
            margin-left: -30px;
            margin-top: 50px;
            height: 2px;
            width: 2px;    
        }
        100% {
            margin-left: 50px;
            margin-top: -30px;
            height: 0.1px;
            width: 0.1px;     
        }
    }


    .InputFieldsBox {
        margin-top: 10px;
        height: 50%;
    }

    .LoginInput, .PasswInput {
        width: 80%;
        border-radius: 1rem;
        font-size: 1.1rem;
    }

    .LoginInput {
        margin-top: 10%;
    }


    .PasswInput {
        margin-top: 10px;
    }

    .LoginButtonsBox {
        width: 80%;
        margin-top: 7%;
    }

    .SubmitButton, .RegistrateLink { 
        font-size: 1.1rem;
    }

    .RegistrateLink {
        margin-top: 8px;
    }

}

@media screen and (max-width: 376px) {

    /* body {
        height: 90vh;
        min-height: 600px;
    } */

    .LabelCenterTop {
        font-size: 2.8rem;
        margin-top: 4vh;
    }

    .LoginButtonsBox {
        margin-top: 6%;
    }

    .LoginInput, .PasswInput, .SubmitButton {
        border: 1px solid rgb(150, 150, 235);
    }

    .RegistrateLink:hover {
        border: 1px solid rgb(150, 150, 235);
    }


}