.MiddleOfPage.ServicesPage {
    margin-top: 35px;
}

.OuterLowerContainerSR {
    display: flex;
    position: relative;
    width: 80%;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTopSR {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    /* height: 120px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    /* flex-flow: column; */

    font-size: 2rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;
    /* text-align: center; */
}

.TextCenterSmall {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.TextCenter {
    margin-bottom: 20px;
}

.FrameTop {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    opacity: 0.7;
    

    img {
        position: relative;
        width: 40vw;
        height: auto;
        /* image-rendering: optimizeQuality; */
        object-fit: contain;

        animation: ImgFadeIn 1s ease-in-out forwards;
    }
}

@keyframes ImgFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.CenterMiddleSR {
    width: 100%;
    height: 160px;
    display: flex;
    position: relative;
}

.RightSideSR, .LeftSideSR {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottomSR {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    text-align: center;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTopSR {
        font-size: 1.4rem;
        p {
            margin-top: 3px;
            margin-bottom: 3px;
            b {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 376px) {

    .OuterLowerContainerSR {
        width: 90%;
        top: 60px;
        margin-top: 10px;
    }

    .CenterTopSR {
        font-size: 1.4rem;
        /* height: 84px; */
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;

        p > b {
            font-size: 0.9rem;
        }
    }

    .TextCenterSmall {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .FrameTop img {
        position: relative;
        width: 60vw;
        height: auto;
        /* image-rendering: optimizeQuality; */

    }

    .CenterMiddle {
        height: 100px;
        flex-flow: column;
    }

    .LeftSideSR {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .RightSideSR {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .CenterBottomSR {
        top: 0px;
        font-size: 0.8rem;
    }

    .DemoLabelBottom {
        top: 390px;
        font-size: 0.7rem;
    }

    .LabelsBottomRightBox {
        top: 465px;
    }
}