.MiddleOfPage.ServicesPage {
    margin-top: 10px;
    height: auto;
}

.OuterLowerContainerSR {
    display: flex;
    position: relative;
    width: 80%;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterVeryFirstTop {
    font-size: 1.4rem;
    font-style: italic;
    color: rgb(165, 165, 255);
    /* color: rgb(150, 195, 235); */
    /* color: rgb(150, 187, 235); */
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    align-self: center;
    text-align: justify;
    text-indent: 4rem;
}

.CenterTopSR {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    /* height: 120px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    /* flex-flow: column; */

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;
    /* text-align: center; */
}

.ItemList {
    position: relative;
    width: 100%;
}

.ItemDetails_1 {
    display: flex;
    flex-flow: column;
    position: relative;
}

.ItemDetails_1 .ItemTextCenterUpper {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    /* border-bottom: 2px solid rgb(150, 150, 235); */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(235, 150, 231);
}

.ItemDetails_2 .ItemTextCenterUpper {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    text-indent: 4rem;
    color: rgb(162, 162, 233);
    margin-left: auto;
    margin-right: auto;
    /* color: rgb(235, 150, 231); */
}

.ItemDetails_4 .ItemTextCenterUpper {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    text-indent: 4rem;  
    color: rgb(162, 162, 233);
    margin-left: auto;
    margin-right: auto;
}

.ItemDetails_5 .ItemTextCenterUpper {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    text-indent: 4rem;  
    color: rgb(162, 162, 233);
    margin-left: auto;
    margin-right: auto;
    /* color: rgb(235, 150, 231); */
}

.ItemDetails_6 .ItemTextCenterUpper {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    text-indent: 4rem;  
    color: rgb(162, 162, 233);
    margin-left: auto;
    margin-right: auto;
}

.ItemDetails_7 .ItemTextCenterUpper {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    text-indent: 4rem;  
    color: rgb(162, 162, 233);
    margin-left: auto;
    margin-right: auto;
    /* color: rgb(235, 150, 231); */
}

.ItemDetails_1 .ItemTextCenterMiddle {
    margin-bottom: 30px;
    width: 100%;
    align-self: center;
    text-align: justify;
}

.ItemDetails_1 .ItemTextCenterMiddle {
    text-indent: 4rem;
}

.ItemDetails_2 .ItemTextCenterMiddle {
    margin-bottom: 20px;
    text-indent: 4rem;
    text-align: justify;
}

.ItemDetails_3 .ItemTextCenterMiddle {
    margin-bottom: 20px;
    text-indent: 4rem;
    text-align: justify;
}

.ItemDetails_4 .ItemTextCenterMiddle {
    margin-bottom: 20px;
    text-indent: 4rem;
    text-align: justify;
}

.ItemDetails_5 .ItemTextCenterMiddle {
    margin-bottom: 20px;
    text-indent: 4rem;
    text-align: justify;
}

.ItemDetails_6 .ItemTextCenterMiddle {
    margin-bottom: 20px;
    text-indent: 4rem;
    text-align: justify;
}

.ItemPicFrame {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
    /*transform: translateZ(0); *HACK TO FIX IMG NOT LOADING ON FIRST TIME*/
    
}


.ItemDetails_1 .ItemPicFrame img {
        position: relative;
        width: 70%;
        height: auto;
        /* image-rendering: optimizeQuality; */
        object-fit: cover;
        /* box-shadow: 0px 0px 40px 40px rgba(77, 77, 138, 0.3); */
        box-shadow: 0px 0px 15px 15px rgba(77, 77, 138, 0.7);

        animation: ImgFadeIn 1s ease-in-out forwards;
}


@keyframes ImgFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ItemDetails_2 .ItemPicFrame img {
    width: 80%;
    height: auto;
    /* box-shadow: 0px 0px 40px 40px rgba(77, 77, 138, 0.3); */
    box-shadow: 0px 0px 15px 15px rgba(77, 77, 138, 0.7);
}

.ItemDetails_3 .ItemPicFrame img {
    width: 86%;
    height: auto;
    /* box-shadow: 0px 0px 40px 40px rgba(77, 77, 138, 0.3); */
    box-shadow: 0px 0px 15px 15px rgba(77, 77, 138, 0.7);
}

.ItemDetails_4 .ItemPicFrame img {
    width: 90%;
    height: auto;
    /* box-shadow: 0px 0px 40px 40px rgba(77, 77, 138, 0.3); */
    box-shadow: 0px 0px 15px 15px rgba(77, 77, 138, 0.7);
}

.ItemDetails_5 .ItemPicFrame img {
    width: 90%;
    height: auto;
    /* box-shadow: 0px 0px 40px 40px rgba(77, 77, 138, 0.3); */
    box-shadow: 0px 0px 15px 15px rgba(77, 77, 138, 0.7);
}

.ItemDetails_6 .ItemPicFrame,
.ItemDetails_7 .ItemPicFrame {
    width: 30%;
    height: 0;
    min-height: 0;
    margin-bottom: 0;
}



.ItemDetails_1 .ItemTextCenterBottom {
    margin-top: 0;
    margin-bottom: 30px;
    text-indent: 4rem;
    text-align: justify;
}

.ItemDetails_3 .ItemTextCenterBottom {
    text-indent: 4rem;
    text-align: justify;
    margin-bottom: 30px;
}

.ItemDetails_4 .ItemTextCenterBottom {
    text-indent: 4rem;
    text-align: justify;
    margin-bottom: 30px;
}

.ItemDetails_5 .ItemTextCenterBottom {
    text-indent: 4rem;
    text-align: justify;
    margin-bottom: 30px;
}

dl {
    margin-top: 10px;
}

.CenterMiddleSR {
    width: 100%;
    height: 0;
    display: flex;
    position: relative;
}

.RightSideSR, .LeftSideSR {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottomSR {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    text-align: center;
}

.LabelsBottomRightBox, .LabelsBottomLeftBox {
    bottom: 20px;
    /* top: 1000px; */
}

.DemoLabelBottom {
    display: none;
}




/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {

    html, body {
        height: 100%;
    }
        
    body {
        min-height: 100vh;
        overflow: visible;
        background-attachment: fixed;
        
    }

    .CenterTopSR {
        font-size: 1.4rem;
        p {
            margin-top: 3px;
            margin-bottom: 3px;
            b {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 376px) {

    /* @layer unused {
        .LabelsBottomRightBox {
            top: 470px !important;
            bottom: 35px !important;
        }
    } */


    .MiddleOfPage.ServicesPage {
        margin-top: 50px;
    }

    .OuterLowerContainerSR {
        width: 90%;
        top: 60px;
        margin-top: 10px;
    }

    .CenterVeryFirstTop {
        font-size: 0.9rem;
        text-indent: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .CenterTopSR {
        width: 90%;
        font-size: 1.2rem;
        /* height: 84px; */
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;

        p > b {
            font-size: 0.9rem;
        }
    }

    .ItemDetails_1 {
        margin-bottom: 10px;
    }

    .ItemDetails_1 .ItemTextCenterUpper {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .ItemDetails_2 .ItemTextCenterUpper {
        font-size: 0.9rem;
        margin-bottom: 10px;
        text-indent: 0;
        text-align: left;
    }

    .ItemDetails_4 .ItemTextCenterUpper {
        font-size: 0.9rem;
        margin-bottom: 10px;
        text-indent: 0;
        text-align: left;
    }

    .ItemDetails_5 .ItemTextCenterUpper {
        font-size: 0.9rem;
        margin-bottom: 10px;
        text-indent: 0;
        text-align: left;
    }

    .ItemDetails_6 .ItemTextCenterUpper {
        font-size: 0.9rem;
        margin-bottom: 10px;
        text-indent: 0;
        text-align: left;
    }

    .ItemDetails_7 .ItemTextCenterUpper {
        font-size: 0.9rem;
        margin-bottom: 10px;
        text-indent: 0;
        text-align: left;
    }

    .ItemDetails_1 .ItemTextCenterMiddle,
    .ItemDetails_1 .ItemTextCenterBottom {
        font-size: 0.9rem;
        text-indent: 2rem;
        margin-bottom: 10px;
    }

    .ItemDetails_2 .ItemTextCenterBottom,
    .ItemDetails_3 .ItemTextCenterBottom,
    .ItemDetails_5 .ItemTextCenterBottom {
        font-size: 0.9rem;
    }

    .ItemDetails_2 .ItemTextCenterMiddle {
        text-indent: 2rem;
        font-size: 0.9rem;
        text-align: justify;
        margin-bottom: 10px;
    }

    .ItemDetails_3 .ItemTextCenterMiddle {
        text-indent: 2rem;
        text-align: justify;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    .ItemDetails_4 .ItemTextCenterMiddle {
        text-indent: 2rem;
        text-align: justify;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }
    .ItemDetails_5 .ItemTextCenterMiddle {
        text-indent: 2rem;
        text-align: justify;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    .ItemDetails_6 .ItemTextCenterMiddle {
        text-indent: 2rem;
        text-align: justify;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    .ItemDetails_2 .ItemTextCenterBottom,
    .ItemDetails_3 .ItemTextCenterBottom,
    .ItemDetails_5 .ItemTextCenterBottom {
        text-indent: 2rem;
    }

    .ItemDetails_6 .ItemTextCenterBottom {
        font-size: 0.9rem;
    }

    .ItemDetails_7 .ItemTextCenterBottom {
        font-size: 0.9rem;
    }

    .ItemTextCenterBottom ul {
        padding-left: 10px;
        text-align: justify;
    }

    .ItemTextCenterBottom dd {
        margin-left: 10px;
    }

    /* .ItemPicFrame {
        display: block;
    } */

    .ItemDetails_1 .ItemPicFrame img {
        position: relative;
        width: 100%;
        height: auto;
        /* image-rendering: optimizeQuality; */

    }

    .ItemDetails_2 .ItemPicFrame img {
        position: relative;
        width: 100%;
        height: auto;
        /* image-rendering: optimizeQuality; */
    }

    .ItemDetails_3 .ItemPicFrame img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .ItemDetails_4 .ItemPicFrame img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .ItemDetails_5 .ItemPicFrame img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .CenterMiddleSR {
        height: 10vh;
        flex-flow: column;
    }

    .LeftSideSR {
        font-size: 0.8rem;
        width: 100%;
        margin: 5px 0;
        place-content: center;
    }

    .RightSideSR {
        font-size: 0.8rem;
        width: 100%;
        margin: 5px 0;
        place-content: center;
    }

    .CenterBottomSR {
        top: 0px;
        font-size: 0.8rem;
    }

    .CenterMiddleSR {
        height: 0;
    }

    /* .LabelsBottomRightBox {
        top: 100vh !important;
        bottom: unset !important;

    } */
}