.MiddleOfPage.aboutus {
    margin-top: 50px;
}

.OuterLowerContainer {
    display: flex;
    position: relative;
    width: 60%;
    height: 420px;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTop {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;

    font-size: 1.4rem;  
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;
    text-align: justify;
    text-indent: 30px;

    p > b {
            font-size: 1.8rem;
            /* color: rgb(164, 164, 236); */
        }
}

.CenterMiddle {
    width: 90%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.RightSide, .LeftSide {
    display: flex;
    color: rgb(150, 150, 235);
    
}

.LeftSide {
    margin-right: 15px;
    width: 63%;
    font-size: 1.4rem;
    place-content: space-evenly;
}

.RightSide {
    /* margin-right: 10px; */
    margin-left: 20px;
    width: 30%; 
    font-size: 1.4rem;
    text-align: justify;
}

.LeftSideLeft, .LeftSideCenter, .LeftSideRight {
    margin: 0;
    padding-left: 20px;
}

.CenterBottom {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 70px;
    top: 45px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;

    overflow: hidden;

    span {
        animation-name: BlinkLetters;
        animation-duration: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    /* span.bright {
        animation-name: BlinkLetters;
        animation-duration: 0.5s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    } */

}

@keyframes BlinkLetters {
    0% {
        color: rgb(150, 150, 235);
        /* transform: translateY(0); */

        /* font-size: 1.4rem; */
    }
    100% {
        /* color: rgb(226, 226, 255); */
        /* color: rgb(226, 226, 255); */
        /* letter-spacing:  1.2px; */
        color: rgb(15, 16, 27);
        /* transform: translateY(-6px); */
        /* font-size: 1.41rem; */
    }
    
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTop {
        font-size: 1.4rem;
        p {
            b {
                font-size: 1.8rem;
                /* font-style: italic; */
            }
        }
    }
}




@media screen and (max-width: 376px) {

    .OuterLowerContainer {
        width: 90%;
        height: 275px;
        top: 60px;
        margin-top: 20px;
    }

    .CenterTop {
        font-size: 0.9rem;
        height: 84px;
        margin-top: 17px;
        margin-bottom: 0;

        p > b {
            font-size: 1.1rem;
        }
    }

    .CenterMiddle {
        height: 100px;
        margin-top: 20px;
        flex-flow: column;
        place-self: center;
    }

    .LeftSide {
        font-size: 0.9rem;
        width: 100%;
        margin: 0;
        place-content: center;
    }

    .RightSide {
        font-size: 0.9rem;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        place-content: center;
    }

    .LeftSideLeft, .LeftSideCenter, .LeftSideRight {
        margin: 0;
        padding-left: 25px;
        text-align: left;
    }

    .CenterBottom {
        top: 0px;
        margin-top: 23px;
        font-size: 0.9rem;
        justify-content: left;
    }

    .DemoLabelBottom {
        top: 408px;
        font-size: 0.75rem;
    }

    .LabelsBottomRightBox {
        top: 470px;
    }
}