.MiddleOfPage.aboutus {
    margin-top: 50px;
}

.AboutUsPage .LabelCenterTop {
    margin-left: 32%;
    width: 30%;
}

.AboutUsPage .MyFoto {
    display: flex;
    width: 7%;
    /* height: 17vh; */
    position: absolute;
    right: 30%;
    top: 4%;
    /* border: 3px solid rgba(94, 94, 165, 0.6); */
    border: 3px solid rgb(94, 94, 148);
    border-radius: 50%;
    /* background-image: url("202512Me.png"); */
    /* background-blend-mode: soft-light; */
    /* background-color: rgba(94, 94, 165, 0.5); */
    background-color: rgb(36, 40, 69);
    /* background-color: rgb(53, 58, 90); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    z-index: 9;

    img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-left: 9%;
        opacity: 0.7;
        z-index: -9;
    }
}   

.OuterLowerContainer {
    display: flex;
    position: relative;
    width: 60%;
    height: 420px;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTop {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;

    font-size: 1.4rem;  
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;
    text-align: justify;
    text-indent: 30px;

    p > b {
            font-size: 1.8rem;
            /* color: rgb(164, 164, 236); */
        }
}

.CenterMiddle {
    width: 90%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.RightSideAU, .LeftSide {
    display: flex;
    color: rgb(150, 150, 235);
    
}

.LeftSide {
    margin-right: 15px;
    width: 63%;
    font-size: 1.4rem;
    place-content: space-evenly;
}

.RightSideAU {
    /* margin-right: 10px; */
    margin-left: 20px;
    width: 30%; 
    font-size: 1.4rem;
    text-align: justify;
}

.LeftSideLeft, .LeftSideCenter, .LeftSideRight {
    margin: 0;
    padding-left: 20px;
}

.CenterBottomAU {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 70px;
    top: 45px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    /* color: rgb(150, 150, 235); */
    color: rgb(180, 150, 235);
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
    /* text-shadow: 0 0 10px rgb(150, 150, 235); */

    overflow: hidden;

    span {
        animation-name: BlinkAllLetters;
        animation-duration: 6s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
        /* animation-timing-function: steps(30); */
    }

    .bright {
        animation-name: BlinkOneLetter;
        animation-duration: 0.1s;
        animation-direction: alternate-reverse;
        /* animation-iteration-count: infinite; */
    }

}

@keyframes BlinkAllLetters {
    0% {
        /* color: rgb(150, 150, 235); */
        color: rgb(180, 150, 235);
        /* transform: translateY(0); */

        /* font-size: 1.4rem; */
    }
    50% {
        /* color: rgb(226, 226, 255); */
        /* color: rgb(226, 226, 255); */
        /* letter-spacing:  1.2px; */
        color: rgb(15, 16, 27);
        /* transform: translateY(-6px); */
        /* font-size: 1.41rem; */
        filter: blur(6px);
        
    }
    100% {
        /* color: rgb(150, 150, 235); */
        color: rgb(180, 150, 235);
    }
    
}

@keyframes BlinkOneLetter {
    0% {
        color: rgb(158, 158, 233);
        font-size: 1.4rem;
    }
    100% {
        color: rgb(255, 255, 255);
        font-size: 2rem;
        text-shadow: 5px 5px 5px rgb(255, 255, 255);
    }
    
}

.CenterBottom2AU {
    margin-left: auto;
    margin-right: auto;
    top: 11vh;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 4rem;
    font-weight: 700;
    font-family: "Montez", cursive;
    /* color: rgb(150, 150, 235); */
    color: rgb(150, 150, 235, 0.8);
    justify-content: center;
    align-items: self-end;
    text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
}

.CenterBottom2AU::after {
    content: '';
    border-radius: 50%;
    /* height: 30px; */ 
    width: 80%;
    height: 80px;
    position: absolute;
    box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.3) , inset -60px -10px 0 rgba(94, 94, 165, 0.3);
    border-radius: 50%;
    /* top: -3%; */
    bottom: 23px;
    z-index: -1;
}




/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */

@media screen and (max-width: 1800px) {
    .CenterTop {
        font-size: 1.4rem;
        p {
            b {
                font-size: 1.8rem;
                /* font-style: italic; */
            }
        }
    }
}

@media screen and (max-width: 1700px) {

    .AboutUsPage .LabelCenterTop {
        margin-left: 32%;
        width: 32%;
}

    .AboutUsPage .MyFoto {
        top: 5%;
        right: 27%;
    }
}


@media screen and (max-width: 1600px) {

    .AboutUsPage .LabelCenterTop {
        margin-left: 31%;
        width: 32%;
        font-size: 4.8rem;
    }

    .AboutUsPage .MyFoto {
        top: 5%;
        right: 29%;
    }

    .CenterBottom2AU {
        &::after {
            height: 60px;
        }
    }
}


@media screen and (max-width: 1400px) {

    .AboutUsPage .LabelCenterTop {
        margin-left: 30%;
        width: 34%;
        font-size: 4.5rem;
    }

    .AboutUsPage .MyFoto {
        top: 6%;
        right: 27%;
    }

}


@media screen and (max-width: 1200px) {

    .AboutUsPage .LabelCenterTop {
        margin-left: 26%;
        width: 37%;
        font-size: 4rem;
    }

    .AboutUsPage .MyFoto {
        top: 6%;
        /* right: 27%; */
    }

    .CenterTop {
        font-size: 1.2rem;
        p {
            b {
                font-size: 1.6rem;
                /* font-style: italic; */
            }
        }
    }

    .LeftSide {
        font-size: 1.2rem;
    }

    .RightSideAU {
        font-size: 1.2rem;
    }

    .CenterBottomAU {
        font-size: 1.2rem;
    }
    
    .CenterBottom2AU {
        &::after {
            height: 50px;
             box-shadow: inset -40px -10px 0 rgba(150, 150, 235, 0.3) , inset -50px -10px 0 rgba(94, 94, 165, 0.3);
        }
    }

    .DemoLabelBottom {
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 920px) {

    .AboutUsPage .LabelCenterTop {
        font-size: 3.5rem;
    }

    .AboutUsPage .MyFoto {
        /* width: 14%; */
        top: 7%;
        right: 25%;
    }

    .CenterTop {
        font-size: 1.1rem;
        p {
            b {
                font-size: 1.4rem;
                /* font-style: italic; */
            }
        }
    }

    .CenterMiddle {
        flex-flow: column;
    }

    .LeftSide {
        font-size: 1.1rem;
        width: 100%;
    }

    .RightSideAU {
        font-size: 1.1rem;
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
        place-content: center;
        text-align: center;
    }

    .CenterBottomAU {
        font-size: 1.1rem;
    }

    .CenterBottom2AU {
        &::after {
            box-shadow: inset -30px -10px 0 rgba(150, 150, 235, 0.3) , inset -40px -10px 0 rgba(94, 94, 165, 0.3);
        }
    }

    .DemoLabelBottom {
        font-size: 1rem; 
    }
}


@media screen and (max-width: 800px) {

    .AboutUsPage .LabelCenterTop {
        width: 40%;
        font-size: 3rem;
    }

    .AboutUsPage .MyFoto {
        width: 9%;
        top: 6%;
        right: 23%;
    }

    .OuterLowerContainer {
        width: 80%;
    }

}

@media screen and (max-width: 660px) {

    .AboutUsPage .LabelCenterTop {
        width: 50%;
        margin-left: 20%;
        font-size: 2.7rem;

    }

    .AboutUsPage .MyFoto {
        /* width: 14%; */
        top: 6%;
        right: 20%;
    }

    .OuterLowerContainer {
        width: 90%;
    }

    .RightSideAU {
        font-size: 1rem;
    }

    .CenterBottomAU {
        font-size: 1rem;
    }

    .CenterBottom2AU {
        &::after {
            box-shadow: inset -20px -10px 0 rgba(150, 150, 235, 0.3) , inset -30px -10px 0 rgba(94, 94, 165, 0.3);
            height: 45px;
        }
    }
}


@media screen and (max-width: 500px) {

    .AboutUsPage .LabelCenterTop {
        margin-top: 7vh;
        width: 60%;
        margin-left: 15%;
        font-size: 2.5rem;
    }

    .AboutUsPage .MyFoto {
        top: 8%;
        right: 16%;
    }

    .CenterBottom2AU {
        top: 9vh;

        &::after {
            box-shadow: inset -15px -7px 0 rgba(150, 150, 235, 0.3) , inset -25px -7px 0 rgba(94, 94, 165, 0.3);
            height: 35px;
        }
    }

    .LabelsBottomRightBox {
        top: unset;
        bottom: 45px;
    }
}


@media screen and (max-width: 376px) {

    .MiddleOfPage.AboutUsPage {
        margin-top: 50px;
    }

    .AboutUsPage .LabelCenterTop {
        margin-left: 8%;
        margin-right: 1%;
        width: 65%;
    }
    
    .AboutUsPage .MyFoto {
        width: 14%;
        top: 4%;
        right: 10%;
    }

    .OuterLowerContainer {
        width: 90%;
        height: 275px;
        top: 60px;
        margin-top: 20px;
    }

    .CenterTop {
        font-size: 0.8rem;
        height: 84px;
        margin-top: 17px;
        margin-bottom: 0;

        p > b {
            font-size: 1.0rem;
        }
    }

    .CenterMiddle {
        height: 100px;
        margin-top: 20px;
        flex-flow: column;
        place-self: center;
    }

    .LeftSide {
        font-size: 0.8rem;
        width: 100%;
        margin: 0;
        place-content: center;
    }

    .RightSideAU {
        font-size: 0.8rem;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        place-content: center;
        text-align: center;
    }

    .LeftSideLeft, .LeftSideCenter, .LeftSideRight {
        margin: 0;
        padding-left: 25px;
        text-align: left;
    }

    .CenterBottomAU {
        top: 0px;
        margin-top: 23px;
        font-size: 0.8rem;
        text-align: center;
        display: inline-block;
        word-break: break-all;

        /* justify-content: left; */
        /* overflow: visible; */

        /* span {  
            animation-name: BlinkAllLetters;
            animation-duration: 9s;
        } */

        .bright {

            /* display: inline-block; */
            color: rgb(255, 255, 255);
            /* transform: scaleX(5); */

            animation-name: BlinkOneLetter;
            /* animation-name: none; */
            /* font-weight: 700; */
            /* animation-duration: 0.05s; */
            /* animation-direction: alternate-reverse; */
            /* animation-iteration-count: infinite; */
        }
    }

    @keyframes BlinkAllLetters {
        /* 0% {
            color: rgb(150, 150, 235);
        } */
        50% {

            color: rgb(15, 16, 27);
            filter: blur(3px);
            text-rendering: optimizeSpeed;
            
        }
        /* 100% {
            color: rgb(150, 150, 235);
        } */
    
    }

    /* @keyframes BlinkOneLetter {
        0% {
            color: rgb(158, 158, 233);
            transform: skewX(1);
            transform: scaleX(1);
            font-size: 0.9rem;
        }
        100% {
            color: rgb(255, 255, 255);
            font-weight: bold;
            transform: skewX(90deg);
            transform: scaleX(2);
            font-size: 1.2rem;
            text-shadow: 0 0 5px rgb(255, 255, 255);
        }
    } */

    .CenterBottom2AU {
        display: none;
        top: 0px;
        margin-top: 5px;
        font-size: 1.8rem;
        height: 32px;
        text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
        /* box-shadow: inset -20px -3px 0 rgba(150, 150, 235, 0.6); */
    }

    .CenterBottom2AU::after {
    display: none;
    content: '';
    border-radius: 50%;
    height: 25px;
    width: 100%;
    position: absolute;
    box-shadow: inset -15px -3px 0 rgba(150, 150, 235, 0.3) , inset -25px -5px 0 rgba(94, 94, 165, 0.3);
    border-radius: 50%;
    top: -10%;
    z-index: -1;
}

    .DemoLabelBottom {
        top: 408px;
        font-size: 0.75rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .LabelsBottomRightBox {
        top: 470px;
    }
}