.OuterLowerContainer {
    display: flex;
    position: relative;
    width: 60%;
    top: 160px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTop {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;

    font-size: 1.4rem;  
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;

    p > b {
            font-size: 1.8rem;
            /* color: rgb(164, 164, 236); */
        }
}

.CenterMiddle {
    width: 100%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    position: relative;
}

.RightSide, .LeftSide {
    margin: 0 15px;

    display: flex;
    color: rgb(150, 150, 235);
}

.LeftSide {
    width: 70%;
    font-size: 1.4rem;
}

.RightSide {
    width: 30%;
    font-size: 1.4rem;
}

.LeftSideLeft, .LeftSideCenter, .LeftSideRight {
    margin: 0;
    padding-left: 40px;
}

.CenterBottom {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 70px;
    top: 45px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTop {
        font-size: 1.4rem;
        p {
            b {
                font-size: 1.8rem;
                /* font-style: italic; */
            }
        }
    }
}




@media screen and (max-width: 376px) {

    .OuterLowerContainer {
        width: 90%;
        top: 60px;
        margin-top: 10px;
    }

    .CenterTop {
        font-size: 0.8rem;
        height: 84px;
        margin-top: 5px;
        margin-bottom: 0;

        p > b {
            font-size: 0.9rem;
        }
    }

    .CenterMiddle {
        height: 100px;
        flex-flow: column;
    }

    .LeftSide {
        font-size: 0.8rem;
        width: 100%;
        margin: 0;
        place-content: center;
    }

    .RightSide {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .LeftSideLeft, .LeftSideCenter, .LeftSideRight {
        margin: 0;
        padding-left: 25px;
    }

    .CenterBottom {
        top: 0px;
        font-size: 0.8rem;
    }

    .DemoLabelBottom {
        top: 390px;
        font-size: 0.7rem;
    }

    .LabelsBottomRightBox {
        top: 465px;
    }
}