.OuterLowerContainerCO {
    display: flex;
    position: relative;
    width: 80%;
    top: 160px;
    height: 78%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTopCO {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    margin-bottom: 10px;
    width: 100%;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* flex-flow: column; */

    font-size: 1.6rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    place-items: center;
    /* text-align: center; */
}

/* .MyFoto {
    width: 10%;
    height: auto;
    position: absolute;
} */

.ListLine {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 28px;
}
.MyLabel {
    width: 30%;
    text-align: right;
}

.MyLabel img{
    width: 35px;
    margin-right: 10%;
    vertical-align: middle;
}

.MyData {
    width: 60%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.CopyBtn, .ShowTelBtn {
    /* margin-left: 30px; */
    margin-right: 10px; 
    margin-top: 0;
    padding-top: 0;

    border-radius: 1.2rem;
    border: 2px solid rgb(150, 150, 235, 0.4);
    vertical-align: middle;
    width: 100px;
    height: 32px;
    font-size: 1.3rem;
    font-weight: 200;

    color: rgb(150, 150, 235);
    background-color: rgb(32, 34, 58);
    /* background-color: rgb(15, 16, 27); */
    /* box-shadow:  0 0 20px inset rgba(150, 150, 235, 0.6); */

    cursor: pointer;

}

.CopyBtn {
    /* width: 100px; */
    margin-left: 30px;

    &:hover {
        background-color: rgb(58, 62, 110);
    }

    &:active {
        background-color: rgb(78, 57, 196)
    }
}
 
.ShowTelBtn {
    /* width: 160px; */
    margin-left: 0;
    
    &:hover {
        background-color: rgb(58, 62, 110);
    }

    &:active {
        background-color: rgb(78, 57, 196);
    }

    &.active {
        width: 50%;
        transition: all 0.1s;
    }
    /* &:active {
        width: 160px !important;
    } */
    /* &:not(:focus) {
        width: 100px;
    } */
}

/* .ShowTelBtn:active {
    width: 10vw;
} */

.CenterMiddleCO {
    width: 100%;
    height: 70px;
    margin-top: 40px;
    display: flex;
    position: relative;
}

.RightSideCO, .LeftSideCO {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottomCO {
    /* margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 1.4rem;
    color: rgb(150, 150, 235);
    justify-content: center;
    text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 4rem;
    font-weight: 700;
    font-family: "Montez", cursive;
    /* color: rgb(150, 150, 235); */
    color: rgb(150, 150, 235, 0.8);
    justify-content: center;
    align-items: self-end;
    text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
}

.CenterBottomCO::after {
    content: '';
    border-radius: 50%;
    /* height: 30px; */ 
    width: 80%;
    height: 80px;
    position: absolute;
    box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.3) , inset -60px -10px 0 rgba(94, 94, 165, 0.3);
    border-radius: 50%;
    top: -3%;
    z-index: -1;
}

.DemoLabelBottom {
    top: 85vh;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTopCO {
        font-size: 1.4rem;
        p {
            margin-top: 3px;    
            margin-bottom: 3px;
            b {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 376px) {

    .OuterLowerContainerCO {
        width: 96%;
        top: 60px;
        margin-top: 10px;
        height: 34%;
    }

    .ContactsPage .CenterTopCO {
        font-size: 1.1rem;
        /* height: 28vh; */
        margin-top: 2vh;    
        margin-bottom: 0;
        text-align: center;

        p > b {
            font-size: 0.9rem;
        }
    }

    .ListLine {
        width: 100%;
        height: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
        /* font-size: 1.2rem; */
    }

    .MyLabel {
        width: 12%;
        margin-right: 5%;
        /* font-size: 1.05rem; */
    }

    .MyLabel img{
        width: 25px;
    }

    .MyData {
        width: 76%;
        margin-left: 0;
        display: flex;
        flex-flow: row;
        place-items: center;
    }

    .CopyBtn, .ShowTelBtn {
        font-size: 1rem;
        width: 19vw;
        height: 26px;
    }

    .CopyBtn {
        margin-left: 20px;
        margin-right: auto;

    }

    .ShowTelBtn {
        &.active {
            width: 36vw;
        }
    }

    .CenterMiddleCO {
        height: 1vh;
        margin-top: 15px;
        flex-flow: column;
    }

    .LeftSideCO {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .RightSideCO {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .CenterBottomCO {
        top: 0px;
        margin-top: 0;
        font-size: 1.8rem;
        height: 32px;
        text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
        /* box-shadow: inset -20px -3px 0 rgba(150, 150, 235, 0.6); */
    }

    .CenterBottomCO::after {
    content: '';
    border-radius: 50%;
    height: 25px;
    width: 100%;
    position: absolute;
    box-shadow: inset -15px -3px 0 rgba(150, 150, 235, 0.3) , inset -25px -5px 0 rgba(94, 94, 165, 0.3);
    border-radius: 50%;
    top: -24%;
    z-index: -1;
}

    .DemoLabelBottom {
        /* top: 395px; */
        top: 408px;
        font-size: 0.75rem;
    }

    .LabelsBottomRightBox {
        top: 470px;
    }
}