body {
    height: 100vh;
}

/* .MiddleOfPage {
    background: linear-gradient(to bottom, rgb(15, 16, 27), rgb(48, 51, 87));
} */

.MiddleOfPage.OurTeamPage {
     margin-top: 50px;
}

.OuterLowerContainerOT {
    display: flex;
    position: relative;
    width: 80%;
    top: 200px;
    height: 420px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column;
}

.CenterTopOT {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    /* max-height: 150px; */
    height: 180px;
    display: flex;
    position: relative;

    font-size: 2.4rem;
    color: rgb(150, 150, 235);
    /* justify-content: center;
    place-items: center; */
    text-align: center;

    display: flex;
    flex-wrap: wrap;

    p {
        width: 100%;
        /* b {
            font-size: 2rem;
        } */
    }
}

.CenterMiddleOT {
    width: 100%;
    height: 130px;
    display: flex;
    position: relative;
}

.RightSideOT, .LeftSideOT {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(150, 150, 235);
}

.CenterBottomOT {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    height: 100px;
    display: flex;
    position: relative;

    font-size: 4rem;
    font-weight: 700;
    font-family: "Montez", cursive;
    /* color: rgb(150, 150, 235); */
    color: rgb(150, 150, 235, 0.8);
    justify-content: center;
    align-items: self-end;
    text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
    /* text-shadow: 0 0 50px rgb(150, 150, 235), -10px 0 10px rgb(0, 0, 0), 15px 0 10px rgb(0, 0, 0); */
    /* text-shadow: 0 0 50px rgb(150, 150, 235) */
    /* text-align: center; */
    /* align-items: center; */

    /* box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.6) , inset -60px -10px 0 rgba(94, 94, 165, 0.6);
    border-radius: 50%; */
    /* filter: blur(3px); */

    /* animation-name: WhoKnowsWhatItWillBe;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}

.CenterBottomOT::after {
    content: '';
    border-radius: 50%;
    /* height: 30px; */ 
    width: 80%;
    height: 80px;
    position: absolute;
    box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.3) , inset -60px -10px 0 rgba(94, 94, 165, 0.3);
    border-radius: 50%;
    top: -17%;
    z-index: -1;
}


/* @keyframes WhoKnowsWhatItWillBe {
    0% {    
        box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.6);
    }
    50% {
        box-shadow: inset 50px -10px 0 rgba(150, 150, 235, 0.6);
    }
    100% {
        box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.6);
    }
    
} */

.Ball {
    position: absolute;
    display: flex;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    filter: blur(5px);
    align-self: center;

    animation-name: BallMove;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    &:nth-child(1) {
        animation-delay: 0s;
        animation-name: BallMove;
        animation-duration: 10s;
    }

    &:nth-child(2) {
        animation-delay: 1.5;
        animation-name: BallMove;
        animation-duration: 5s;
    }

    &:nth-child(3) {
        animation-delay: 3s;
        animation-name: BallMove;
        animation-duration: 7s;
    }

}

@keyframes BallMove {
    0% {
       transform: rotate(0deg) translateX(100px) rotate(0deg);
       background-color: rgb(150, 150, 235, 0.5);
    }   

    50% {
        /* background-color:  rgba(235, 150, 231, 0.1); */
        filter: blur(0);
    }

    100% {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
        background-color: transparent;
        filter: blur(0);
        width: 50px;
        height: 50px;
    }
    
}
/* 
.InBall {
    width: 10px;
    height: 10px;
    right: 0;
    margin-left: auto;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    place-self: center;

    filter: blur(7px);

    animation-name: InBallMove;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.Ball .InBall:nth-child(1) {
        background-color: rgba(128, 255, 212, 0.9);
    }

.Ball .InBall:nth-child(2) {
        background-color: rgba(225, 128, 255, 0.9);
    }


@keyframes InBallMove {
    100% {
        width: 20px;
        height: 20px;
        right: 50%;
        background-color: transparent;
    }
    
} */


.DemoLabelBottom {
    top: 750px;
}





/*/// MEDIA ///   /// MEDIA ///   MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   /// MEDIA ///   */
@media screen and (max-width: 1900px) {
    .CenterTopOT {
        font-size: 1.4rem;
        p {
            b {
                font-size: 1.8rem;
            }
        }
    }

    .CenterBottomOT::after {
        content: '';
        border-radius: 50%;
        /* height: 30px; */ 
        width: 80%;
        height: 80px;
        position: absolute;
        box-shadow: inset -50px -10px 0 rgba(150, 150, 235, 0.3) , inset -60px -10px 0 rgba(94, 94, 165, 0.3);
        border-radius: 50%;
        top: -11%;
        z-index: -1;
    }
}

@media screen and (max-width: 1600px) {
    .CenterBottomOT::after {
        box-shadow: inset -25px -10px 0 rgba(150, 150, 235, 0.3) , inset -40px -10px 0 rgba(94, 94, 165, 0.3);
    }

}

@media screen and (max-width: 1360px) {
    .CenterBottomOT {
        font-size: 3.5rem;
    }
    .CenterBottomOT::after {
        top: -7%;
        box-shadow: inset -20px -10px 0 rgba(150, 150, 235, 0.3) , inset -30px -10px 0 rgba(94, 94, 165, 0.3);
    }

}

@media screen and (max-width: 1200px) {
    .CenterBottomOT {
        font-size: 3rem;
        &::after {
            top: 12%;
            height: 65px;
        }
    }
}

@media screen and (max-width: 900px) {
    .OuterLowerContainerOT {
        top: 190px;
    }
    .CenterTopOT, .CenterMiddleOT {
        font-size: 1.2rem;
        .LeftSideOT, .RightSideOT {
            font-size: unset;
        }
    }

    .CenterBottomOT::after {
        top: 30%;
        box-shadow: inset -20px -10px 0 rgba(150, 150, 235, 0.3) , inset -30px -10px 0 rgba(94, 94, 165, 0.3);
        height: 48px;   
    }

    .LabelsBottomLeftBox {
        width: 25%;
    }

}

@media screen and (max-width: 660px) {

    .CenterBottomOT::after {
        height: 45px;
        top: 32%;
    }

    .LabelsBottomLeftBox {
        right: 0;
    }
}

@media screen and (max-width: 376px) {

    .OuterLowerContainerOT {
        width: 90%;
        top: 60px;
        margin-top: 10px;
    }

    .CenterTopOT {
        font-size: 0.9rem;
        max-height: 150px;
        height: 140px;
        margin-top: 5px;
        margin-bottom: 0;

        p > b {
            font-size: 1.4rem;
        }

        /* p:nth-child(2) {
            font-size: 0.9rem;
        } */
    }

    .CenterMiddleOT {
        height: 80px;
        flex-flow: column;
    }

    .LeftSideOT {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .RightSideOT {
        font-size: 0.8rem;
        width: 100%;
        margin: 10px 0;
        place-content: center;
    }

    .CenterBottomOT {
        top: 0px;
        margin-top: 5px;
        font-size: 1.8rem;
        height: 32px;
        text-shadow: 0 0 50px rgb(150, 150, 235), 10px 3px 9px rgb(0, 0, 0);
        /* box-shadow: inset -20px -3px 0 rgba(150, 150, 235, 0.6); */
    }

    .CenterBottomOT::after {
        content: '';
        border-radius: 50%;
        height: 25px;
        width: 100%;
        position: absolute;
        box-shadow: inset -15px -3px 0 rgba(150, 150, 235, 0.3) , inset -25px -5px 0 rgba(94, 94, 165, 0.3);
        border-radius: 50%;
        top: -10%;
        z-index: -1;
    }

    .Ball {
        width: 5px;
        height: 5px;
    }

    @keyframes BallMove {
        0% {
        transform: rotate(0deg) translateX(40px) rotate(0deg);
        background-color: rgb(150, 150, 235, 0.5);
        }   

        100% {
            transform: rotate(360deg) translateX(40px) rotate(-360deg);
            background-color: transparent;
            filter: blur(0);
            width: 20px;
            height: 20px;
        }
    }

    .LabelsBottomLeftBox {
        width: 100%;
    }

    .LabelsBottomRightBox { 
        top: 470px;
    }

    .DemoLabelBottom {
        top: 408px;
        font-size: 0.75rem;
    }


    
}